@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.container{
    margin: auto;
    padding: 0px;
    width: 88%;
    display: flex;
}

img{
    width: 100%;
    border-radius: 10px;
}

.box_1, .box_2{
    margin: 5px;
    padding: 10px;
    text-align: justify;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
}

h2{
    color: #00FF0A;
}

a{
    text-decoration: none;
    color: black;
}

#footer{
    padding: 10px;
    text-align: center;
    background-color: gray;
    color: white;
    border-radius: 10px;
    width: 86%;
    margin: auto;
}

@media(max-width: 800px){
    .container{
        margin: 0px;
        width: auto;
        display: block;
    }

    .box_1, .box_2{
        width: auto;
    }
}

@media(max-width: 425px){
    h2{
        font-size: 20px;
    }
}